//so this file going to allowed us to center all of the content on the screen like stuff inside of the header. and also going to allow us to center the stuff down below.
 .container{
 max-width: 60rem;
 margin: 0 auto;
 padding: 0 $m-size;
 }

